 .item {
   padding: 20px 0px 20px 0px;
   color: black;
   text-transform: uppercase;
   width: 400px;
   height: 100px;
   margin-bottom: 10px;
   background-color: rgb(125, 172, 214);
 }

 span {
  margin-left: 200px;
 }
 .postMessage{
   padding-left: 120px;
 }
 .postAvatar {
   padding-top: 20px;
   background-color: blueviolet;
   padding-left: 100px;
   border-radius: 50px;
   width: 10px;
   height: 40px;
 }